:root {
    --bg: #0b1220;
    --text: #ffffff;
    --accent: #4da6ff;
}

body.light {
    --bg: #ffffff;
    --text: #464746;
    --accent: #0077ff;
}

body.blue {
    --bg: #1b4063;
    --text: #ffffff;
    --accent: #5fc8e8;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s ease;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 5%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    
    backdrop-filter: blur(12px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar a {
    color: var(--text);
    text-decoration: none;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 48px;
}

.primary-btn {
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 12px 12px;
    border: none;
    background: var(--accent);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.hero-right img {
    width: 280px;
    border-radius: 50%;
    border: 5px solid var(--accent);
}

/* Animations */
.fade-in {
    animation: fade 1.2s ease-in;
}

.slide-in {
    animation: slide 1.2s ease;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Gallery */
.gallery {
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Contact */
.contact {
    padding-top:0%;
    text-align: center;
}

.contact-box {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}
.social-icons {
    margin: 20px 0;
}

.social-icons a {
    font-size: 22px;
    margin-right: 18px;
    color: var(--accent);
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.3);
}

.theme {
    display: flex;
    gap: 14px;
    align-items: center;
}

.theme img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.theme img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px var(--accent);
}

/* SKILLS */
.skills {
    padding-top: 0%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.skill-card {
    background: rgba(255,255,255,0.06);
    padding: 30px 20px;
    border-radius: 16px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

.skill-card h4 {
    color: #4da6ff;
}

.skill-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* GALLERY */
.gallery {
    padding-top: 0%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.gallery-card {
    overflow: hidden;
    border-radius: 18px;
    transition: transform 0.4s ease;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.gallery-card:hover {
    transform: translateY(-18px);
}

.gallery-card:hover img {
    transform: scale(1.15);
}

.about {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.about1 {
    background: rgba(255,255,255,0.05);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.9s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

section {
    margin-bottom: 60px;
    padding-bottom: 50px;
    position: relative;
}

section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 3px;
    background: linear-gradient(
        90deg,
        transparent,
        var(--accent),
        transparent
    );
    opacity: 0.6;
}


